<h2>New book</h2>
<% if book.errors.any? %>
<%= book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model:book do |f| %>
  <label for = "title"  class="form-label">Title</label>
  <%= f.text_field :title,autofocus: true, id:"title" ,class: "form-control" %>

  <label for = "body" class="form-label">Opinion</label>
  <%= f.text_area :body, id:"body" ,class: "form-control" %>
  <%= f.submit "Create Book" ,class:"btn btn-success mt-3" %>
<% end %>