<h1>Book detail</h1>
<table>
<tr>
  <%= image_tag @book.user.get_profile_image(50,50) %>
  <%= @book.title %>
  <%= @book.body %>
  <%= link_to 'Edit',edit_book_path(@book) %>
  <%= link_to 'Destroy',book_path(@book), method: :delete ,data: {confirm:"本当に消しますか？"}%>
</tr>
</table>